nav{
    background-color: rgb(75, 102, 223);
}

li {
    display: inline;
    float: left;
    color: rgb(223, 229, 235);
  }
  ul{
    float: right;
  }
  
  a {
    display: block;
    padding-right: 50px;
    color: light rgb(252, 252, 252);
  }

  .navlogo{
    width: 150px;
    height: 100px;
    border-radius: 50%;
  }

  *{
    list-style: none;
  }

  .paralogo{
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }

  .pic{
    margin-left: 25%;
    height: 400px;
    width: 600px;
    padding: 10px;
  }